.white-grey
{

}
.grey
{
	background-color:#2D2D30;
	color:white;
}
.blue
{
	background-color:DodgerBlue;
	color:white;
}
.white
{
	background-color: white;
	color:rgb(50,50,50);
}
.slow
{
	transition-duration: 0.5s;
	transition-property: all;
}
.navbar {
	letter-spacing: 4px;
    opacity: 0.5;
}
.item img
{
	width: 100%;
	max-height:1000px;
	margin: auto;
}
.btn-ray2
{
	background-color: DodgerBlue;
	color:white;
	border:0;
	transition-duration: 0.3s;
	transition-property: all;
	
}
.btn-ray2:hover
{
	margin-top: +3px;
	margin-bottom: -3px;
	transition-duration: 0.3s;
	transition-property: all;
	background-color: white;
	color:DodgerBlue;
}
.margin
{
	margin-top: 30px;
	margin-bottom: : 30px; 
	margin-right: 30px;
	margin-left: : 30px ;
}
.padding
{
	padding: 35px 35px 35px 35px;
}
.navbar-link:hover
{
	background-color: #1C8965;
	color:white;
	transition-duration: 0.3s;
}

.box-sizing
{
   	box-sizing: margin-box;
}
.col-sm-3 {
	display: inline-block;
    text-align: center;
    margin: 1%;
   	box-sizing: margin-box;
}