.grey
{
	background-color:#2C2C2C;
	color:white;
}
.blue
{
	background-color:DodgerBlue;
	color:white;
}
.white
{
	background-color: white;
	color:rgb(50,50,50);
}

.slow
{
	transition-duration: 0.5s;
	transition-property: all;
}
.navbar {
	letter-spacing: 4px;
    opacity: 0.9;
}
.item img
{
	width: 100%;
	height: absolute;
	max-height:1000px;
	margin: auto;
}

.btn1:hover
{
	margin-top: +10px;
	transition-duration: 0.5s;
}

